@{
    ViewData["Title"] = "Şifre Sıfırlama";
    Layout = null;
}

<title>@ViewBag.SiteTitle - Şifremi Unuttum</title>
<link rel="stylesheet" href="~/panel/css/bootstrap.min.css" />
<link rel="shortcut icon" href="~/img/logo.png" />
<!-- Master CSS -->
<link rel="stylesheet" href="~/panel/css/main.css" />
<body class="authentication">

	<!-- Container start -->
	<div class="container">

		<form asp-action="ForgetPassword" method="post">
			<div class="row justify-content-md-center">
				<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
					<div class="login-screen">
						<div class="login-box">
							<a href="@Url.Action("Index", "Home")" class="login-logo">
								<img src="~/img/logo.png" alt="Wafi Admin Dashboard" />
							</a>
							<h5>VeRandevum Panel<br />Şifre Sıfırlama</h5>
							@if (ViewBag.Message != null)
							{
								<div class="alert alert-success">@ViewBag.Message</div>
							}

							@if (ViewBag.Error != null)
							{
								<div class="alert alert-danger">@ViewBag.Error</div>
							}
							<div class="form-group">
								<input type="email" id="email" name="email" class="form-control" placeholder="Mail Adresi" />
							</div>
							<div class="actions mb-4">
								<!-- Login Button -->
								<button type="submit" class="btn btn-primary mb-2">Şifre Yenileme</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
	<!-- Container end -->

</body>